/www/bin
/www/obj
/www/.vs/CapitoleSantander/DesignTimeBuild/.dtbcache.v2
/www/.vs/CapitoleSantander/FileContentIndex/56dda209-a7e7-4a1a-8c13-b1d1ec14caa6.vsidx
/www/.vs/CapitoleSantander/FileContentIndex/6b71bb55-ae13-4edf-9a23-31293ac18888.vsidx
/www/.vs/CapitoleSantander/FileContentIndex/bce77992-26ef-4401-8737-46829f067215.vsidx
/www/.vs/CapitoleSantander/FileContentIndex/c75e4700-33f6-4b1a-928c-3d35d68d8bd1.vsidx
/www/.vs/CapitoleSantander/FileContentIndex/e64db6e9-e08c-4cc0-bc1a-57a8e7155753.vsidx
/www/.vs/CapitoleSantander/config/applicationhost.config
/www/.vs/CapitoleSantander/v17/.futdcache.v2
/www/.vs/CapitoleSantander/v17/.suo
/www/.vs/ProjectEvaluation/capitolesantander.metadata.v7.bin
/www/.vs/ProjectEvaluation/capitolesantander.projects.v7.bin
/www/.vs/CapitoleSantander/FileContentIndex/*.vsidx
